@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


body {
    background-color: #f9f9f9;
    color: black;
  }
  
  @media (prefers-color-scheme: dark) {
    body {
      background-color: #111827;
      color: white;
    }
  }
  